// Normalize css
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
@import "../node_modules/normalize.css/normalize.css";

$mdc-theme-primary: #5E388F;
$mdc-theme-on-primary: #A185C6;
$mdc-theme-secondary: #D3C647;
$mdc-theme-on-secondary: #FFF7A3;
$mdc-theme-surface: #A185C6;
$mdc-theme-on-surface: #48227B;
$mdc-theme-background: #000000;
$mdc-theme-on-background: #FFFFFF;

$mdc-breakpoints: (
  largedesktop: 1200px,
  desktop: 992px,
  tablet: 768px,
  largephone: 576px,
  phone: 0px
);
  
// Material Design Components
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/icon-button/mdc-icon-button";
@import "@material/typography/mdc-typography";
@import "@material/image-list/mdc-image-list";
@import "@material/elevation/mdc-elevation";
@import "@material/animation/variables";
@import "@material/shape/functions";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/shape/mixins";

@import "src/scss/base";
@import "src/scss/animations";
@import "src/scss/my-image-list";

