// Normalize css
@import "../node_modules/normalize.css/normalize.css";

$mdc-theme-primary: #ffeb3b;
$mdc-theme-on-primary: #212121;
$mdc-theme-secondary: #ff5722;
$mdc-theme-on-secondary: #212121;
$mdc-theme-surface: #98ee99;
$mdc-theme-on-surface: #6a0080;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #212121;

// Material Design Components
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/elevation/mdc-elevation";
@import "@material/typography/mdc-typography";
@import "@material/shape/mixins";
@import "@material/shape/functions";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";

@import "src/scss/base";

