@keyframes fade-in {
    from {
        transform: translateY(-80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.mdc-image-list__item, img {
    animation: mdc-animation-enter(/* $name: */ fade-in, /* $duration: */ 350ms);
}