$enable-shadows: true;
$card-corner-radius: 4px;

// .header {
//     overflow-wrap: break-word;
//     word-wrap: break-word;

//     word-break: break-all;
//     word-break: break-word;

//     hyphens: auto;
// }

#loader {
    z-index: 1;
    width: 100%;
    height: auto;
}

html {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("src/media/cats_pattern_by_rhoda_the_echidna.png");
    background-repeat: repeat;
    background-position: top;
    scroll-behavior: smooth;
    overflow: visible;
}

.mdc-elevation {
    &--z1 {
        @include mdc-elevation(1, $mdc-theme-on-surface, 0.3);
    }
    
    &--z8 {
        @include mdc-elevation(8, $mdc-theme-on-surface, 0.3);
    }

    &--z16 {
        @include mdc-elevation(16, $mdc-theme-on-surface, 0.3);
    }
}