$enable-shadows: true;
$card-corner-radius: 8px;

* {
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-all;
    word-break: break-word;

    hyphens: auto;
}

#loader {
    z-index: 1;
    width: 100%;
    height: auto;
}

html {
    @include mdc-typography-overflow-ellipsis;
    scroll-behavior: smooth;
    white-space: normal;
    overflow: visible;

    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("src/media/cats_pattern_by_rhoda_the_echidna.png");
    background-position: top;

    body {
        .mdc-layout-grid {
            max-width: 1024px;
        }
        
        .header {
            @include mdc-typography(headline2);
            border-bottom: 1px solid $mdc-theme-on-surface;
            border-right: 1px solid $mdc-theme-surface;
            border-left: 1px solid $mdc-theme-surface;
            border-top: 1px solid $mdc-theme-on-surface;
            background: $mdc-theme-surface;
            text-align: center;
            padding: 1rem 0px;
        }

        .mdc-card {
            @include mdc-card-shape-radius($card-corner-radius);

            .hover {
                @include mdc-card-shape-radius($card-corner-radius);
            }

            &__primary, &__secondary {
                padding: 1rem;
            }

            .card-title {
                // @include mdc-typography(headline6);
                // @include mdc-typography-overflow-ellipsis;
                white-space: normal;
                color: $mdc-theme-on-primary;
            }

            .mdc-icon-button {
                color: $mdc-theme-on-surface;
            }
        }
    }
}
