#filters {
    display: flex;
    justify-content: center;
    // padding: 1rem;

    .filter {
        align-self: center;
    }
}

.select-width {
    min-width: 120px;
    max-width: 200px;
    width: 20vw;
}

.mdc-select {
    @include mdc-select-hover-bottom-line-color($mdc-theme-secondary);
    @include mdc-select-focused-bottom-line-color($mdc-theme-secondary);
    @include mdc-select-focused-label-color($mdc-theme-secondary);
}