// after media queries so font can be properly applied
.header {
    @include interpolate(font-size, 360px, 992px, 18px, 26px);
    font-family: 'Fredoka One', cursive;
    color: $mdc-theme-on-primary;
    text-align: center;
}